@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("@/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("@/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
}
